ul {
    width: 550px;
    text-align: left;
    margin: 5px auto;
}

p {
    width: 550px;
    text-align: left;
    margin: 5px auto;
}

h4 {
    color: whitesmoke;
    padding: 1px;
}

img {
    display: inline-block;
    /* border-radius: 5px; */
    margin: 5px;
    border: 1px solid black;
    width: 15%;
}

body {
    background-color: whitesmoke;
    text-align: center;
}

.top-box {
    background-color: rgb(86, 120, 164);
    color: white;
    margin: 5px auto;
    width: 400px;
    padding: 5px;
    border: 2px solid black;
    border-radius: 10px;
}

.header {
    text-align: center;
}

.basic-text {
    color: black;
    font-family: system-ui;
    font-size: smaller;
}

.sub-text {
    color: gray;
    font-family: Georgia, serif;
    font-size: small;
    font-style: italic;
}

.flex-container {
    display: flex;
    background: rgb(86, 120, 164);
    width: 500px;
    margin: 5px auto;
    border: 1px solid black;
    border-radius: 5px;
    flex-direction: column;
}

.flex-container div {
    background: rgb(211, 213, 217);
    border: 1px solid black;
    flex-direction: row;
    margin: 5px;
    padding: 3px;
    height: 100px;
    flex: 1;
    border-radius: 5px;
    flex-direction: row;
}

.flex-container link-box {
    background-color: rgb(211, 213, 217);
    text-align: center;
    margin: 5px;
    width: 150px;
    padding: 3px;
    border: 1px solid black;
    border-radius: 5px;
}

.flex-container div:hover {
    box-shadow: 0 0 2px 1px rgba(252, 252, 252, 0.5);
}
